In [2]:
#importing the libraries
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
import plotly.express as px # Data vizualization
from sklearn.impute import KNNImputer
from sklearn.preprocessing import OneHotEncoder

In [3]:
df=pd.read_csv('autos.csv') ## read the csv file

In [6]:
df.head() ### print the frist 5 rows of the dataframe

,index,dateCrawled,name,seller,offerType,price,abtest,vehicleType,yearOfRegistration,gearbox,...,model,kilometer,monthOfRegistration,fuelType,brand,notRepairedDamage,dateCreated,nrOfPictures,postalCode,lastSeen
0,0,2016-03-24 11:52:17,Golf_3_1.6,privat,Angebot,480,test,NaN,1993,manuell,...,golf,150000,0,benzin,volkswagen,NaN,2016-03-24 00:00:00,0,70435,2016-04-07 03:16:57
1,1,2016-03-24 10:58:45,A5_Sportback_2.7_Tdi,privat,Angebot,18300,test,coupe,2011,manuell,...,NaN,125000,5,diesel,audi,ja,2016-03-24 00:00:00,0,66954,2016-04-07 01:46:50
2,2,2016-03-14 12:52:21,"Jeep_Grand_Cherokee_""Overland""",privat,Angebot,9800,test,suv,2004,automatik,...,grand,125000,8,diesel,jeep,NaN,2016-03-14 00:00:00,0,90480,2016-04-05 12:47:46
3,3,2016-03-17 16:54:04,GOLF_4_1_4__3TÜRER,privat,Angebot,1500,test,kleinwagen,2001,manuell,...,golf,150000,6,benzin,volkswagen,nein,2016-03-17 00:00:00,0,91074,2016-03-17 17:40:17
4,4,2016-03-31 17:25:20,Skoda_Fabia_1.4_TDI_PD_Classic,privat,Angebot,3600,test,kleinwagen,2008,manuell,...,fabia,90000,7,diesel,skoda,nein,2016-03-31 00:00:00,0,60437,2016-04-06 10:17:21

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 371528 entries, 0 to 371527
Data columns (total 21 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   index                371528 non-null  int64
 1   dateCrawled          371528 non-null  object
 2   name                 371528 non-null  object
 3   seller               371528 non-null  object
 4   offerType            371528 non-null  object
 5   price                371528 non-null  int64
 6   abtest               371528 non-null  object
 7   vehicleType          333659 non-null  object
 8   yearOfRegistration   371528 non-null  int64
 9   gearbox              351319 non-null  object
 10  powerPS              371528 non-null  int64
 11  model                351044 non-null  object
 12  kilometer            371528 non-null  int64
 13  monthOfRegistration  371528 non-null  int64
 14  fuelType             338142 non-null  object
 15  brand                371528 non-null  object
 16  notRepairedDamage    299468 non-null  object
 17  dateCreated          371528 non-null  object
 18  nrOfPictures         371528 non-null  int64
 19  postalCode           371528 non-null  int64
 20  lastSeen             371528 non-null  object
dtypes: int64(8), object(13)
memory usage: 59.5+ MB

In [8]:
del df['index'] ## Delete the index column because it's useless

In [9]:
df.head()

,dateCrawled,name,seller,offerType,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,kilometer,monthOfRegistration,fuelType,brand,notRepairedDamage,dateCreated,nrOfPictures,postalCode,lastSeen
0,2016-03-24 11:52:17,Golf_3_1.6,privat,Angebot,480,test,NaN,1993,manuell,0,golf,150000,0,benzin,volkswagen,NaN,2016-03-24 00:00:00,0,70435,2016-04-07 03:16:57
1,2016-03-24 10:58:45,A5_Sportback_2.7_Tdi,privat,Angebot,18300,test,coupe,2011,manuell,190,NaN,125000,5,diesel,audi,ja,2016-03-24 00:00:00,0,66954,2016-04-07 01:46:50
2,2016-03-14 12:52:21,"Jeep_Grand_Cherokee_""Overland""",privat,Angebot,9800,test,suv,2004,automatik,163,grand,125000,8,diesel,jeep,NaN,2016-03-14 00:00:00,0,90480,2016-04-05 12:47:46
3,2016-03-17 16:54:04,GOLF_4_1_4__3TÜRER,privat,Angebot,1500,test,kleinwagen,2001,manuell,75,golf,150000,6,benzin,volkswagen,nein,2016-03-17 00:00:00,0,91074,2016-03-17 17:40:17
4,2016-03-31 17:25:20,Skoda_Fabia_1.4_TDI_PD_Classic,privat,Angebot,3600,test,kleinwagen,2008,manuell,69,fabia,90000,7,diesel,skoda,nein,2016-03-31 00:00:00,0,60437,2016-04-06 10:17:21

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 371528 entries, 0 to 371527
Data columns (total 20 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   dateCrawled          371528 non-null  object
 1   name                 371528 non-null  object
 2   seller               371528 non-null  object
 3   offerType            371528 non-null  object
 4   price                371528 non-null  int64
 5   abtest               371528 non-null  object
 6   vehicleType          333659 non-null  object
 7   yearOfRegistration   371528 non-null  int64
 8   gearbox              351319 non-null  object
 9   powerPS              371528 non-null  int64
 10  model                351044 non-null  object
 11  kilometer            371528 non-null  int64
 12  monthOfRegistration  371528 non-null  int64
 13  fuelType             338142 non-null  object
 14  brand                371528 non-null  object
 15  notRepairedDamage    299468 non-null  object
 16  dateCreated          371528 non-null  object
 17  nrOfPictures         371528 non-null  int64
 18  postalCode           371528 non-null  int64
 19  lastSeen             371528 non-null  object
dtypes: int64(7), object(13)
memory usage: 56.7+ MB

In [11]:
# Calculate the percentage of missing values in each column of the used car DataFrame to know which column i will deal with handle the missing data in
persentage_of_missing = df.isnull().sum().sort_values(ascending=False) * 100 / len(df)
persentage_of_missing

notRepairedDamage      19.395577
vehicleType            10.192771
fuelType                8.986133
model                   5.513447
gearbox                 5.439429
kilometer               0.000000
postalCode              0.000000
nrOfPictures            0.000000
dateCreated             0.000000
brand                   0.000000
monthOfRegistration     0.000000
dateCrawled             0.000000
name                    0.000000
powerPS                 0.000000
yearOfRegistration      0.000000
abtest                  0.000000
price                   0.000000
offerType               0.000000
seller                  0.000000
lastSeen                0.000000
dtype: float64

## There was many ways to overcome the missing data issue but i decided to go for the simple imputation technique the mode imputation (replacing missing values with the most frequent category)

In [ ]:
most_common1 = df["notRepairedDamage"].value_counts(ascending=False).index[0] # determine the most common value
most_common2 = df["vehicleType"].value_counts(ascending=False).index[0] 
most_common3 = df["fuelType"].value_counts(ascending=False).index[0] 
most_common4 = df["model"].value_counts(ascending=False).index[0] 
most_common5 = df["gearbox"].value_counts(ascending=False).index[0] 
df["notRepairedDamage"].fillna(most_common1, inplace=True) # replacing the null with the most common value
df["vehicleType"].fillna(most_common2, inplace=True)
df["fuelType"].fillna(most_common3, inplace=True)
df["model"].fillna(most_common4, inplace=True)
df["gearbox"].fillna(most_common5, inplace=True)

In [13]:
# getting sure that the missing issue is resolved
persentage_of_missing = df.isnull().sum().sort_values(ascending=False) * 100 / len(df)
persentage_of_missing

dateCrawled            0.0
name                   0.0
postalCode             0.0
nrOfPictures           0.0
dateCreated            0.0
notRepairedDamage      0.0
brand                  0.0
fuelType               0.0
monthOfRegistration    0.0
kilometer              0.0
model                  0.0
powerPS                0.0
gearbox                0.0
yearOfRegistration     0.0
vehicleType            0.0
abtest                 0.0
price                  0.0
offerType              0.0
seller                 0.0
lastSeen               0.0
dtype: float64

In [14]:
df["notRepairedDamage"].value_counts()

notRepairedDamage
nein    335242
ja       36286
Name: count, dtype: int64

In [15]:
df["price"].value_counts()

price
0         10778
500        5670
1500       5394
1000       4649
1200       4594
          ...
349000        1
8889          1
3440          1
1997          1
10985         1
Name: count, Length: 5597, dtype: int64

In [16]:
df["yearOfRegistration"].value_counts()

yearOfRegistration
2000    24551
1999    22767
2005    22316
2006    20230
2001    20218
        ...
2066        1
9450        1
3200        1
1925        1
3500        1
Name: count, Length: 155, dtype: int64

## dropping all the unimportant columns

In [17]:
useless_col = ["nrOfPictures", "lastSeen", "dateCrawled", "name", "monthOfRegistration", "dateCreated", "postalCode", "seller", "offerType"]
new_used_car = df.drop(useless_col, axis=1)

In [18]:
new_used_car.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 371528 entries, 0 to 371527
Data columns (total 11 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   price               371528 non-null  int64
 1   abtest              371528 non-null  object
 2   vehicleType         371528 non-null  object
 3   yearOfRegistration  371528 non-null  int64
 4   gearbox             371528 non-null  object
 5   powerPS             371528 non-null  int64
 6   model               371528 non-null  object
 7   kilometer           371528 non-null  int64
 8   fuelType            371528 non-null  object
 9   brand               371528 non-null  object
 10  notRepairedDamage   371528 non-null  object
dtypes: int64(4), object(7)
memory usage: 31.2+ MB

In [19]:
new_used_car.head()

,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,kilometer,fuelType,brand,notRepairedDamage
0,480,test,limousine,1993,manuell,0,golf,150000,benzin,volkswagen,nein
1,18300,test,coupe,2011,manuell,190,golf,125000,diesel,audi,ja
2,9800,test,suv,2004,automatik,163,grand,125000,diesel,jeep,nein
3,1500,test,kleinwagen,2001,manuell,75,golf,150000,benzin,volkswagen,nein
4,3600,test,kleinwagen,2008,manuell,69,fabia,90000,diesel,skoda,nein

In [20]:
def remove_outliers_iqr(df):
    # Select only the numeric columns for outlier removal
    numeric_columns = df.select_dtypes(include=['number'])

    # Calculate the IQR for each numeric column
    Q1 = numeric_columns.quantile(0.25)
    Q3 = numeric_columns.quantile(0.75)
    IQR = Q3 - Q1

    # Define the threshold for identifying outliers (1.5 times the IQR)
    threshold = 1.5

    # Identify outliers for each numeric column
    outliers = (numeric_columns < (Q1 - threshold * IQR)) | (numeric_columns > (Q3 + threshold * IQR))

    # Remove outliers from the DataFrame
    df_no_outliers = df[~outliers.any(axis=1)]
    
    return df_no_outliers

In [21]:
clean_used_car=remove_outliers_iqr(new_used_car) ## using the method above to remove the outliers from the df

In [22]:
clean_used_car.info()

<class 'pandas.core.frame.DataFrame'>
Index: 287555 entries, 0 to 371526
Data columns (total 11 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   price               287555 non-null  int64
 1   abtest              287555 non-null  object
 2   vehicleType         287555 non-null  object
 3   yearOfRegistration  287555 non-null  int64
 4   gearbox             287555 non-null  object
 5   powerPS             287555 non-null  int64
 6   model               287555 non-null  object
 7   kilometer           287555 non-null  int64
 8   fuelType            287555 non-null  object
 9   brand               287555 non-null  object
 10  notRepairedDamage   287555 non-null  object
dtypes: int64(4), object(7)
memory usage: 26.3+ MB

In [23]:
clean_used_car.head()

,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,kilometer,fuelType,brand,notRepairedDamage
0,480,test,limousine,1993,manuell,0,golf,150000,benzin,volkswagen,nein
2,9800,test,suv,2004,automatik,163,grand,125000,diesel,jeep,nein
3,1500,test,kleinwagen,2001,manuell,75,golf,150000,benzin,volkswagen,nein
4,3600,test,kleinwagen,2008,manuell,69,fabia,90000,diesel,skoda,nein
5,650,test,limousine,1995,manuell,102,3er,150000,benzin,bmw,ja

## getting sure that the outliers removed from df

In [24]:
clean_used_car["yearOfRegistration"].value_counts()

yearOfRegistration
2000    22360
1999    21407
2005    19401
2001    18743
2003    18215
2004    17884
2002    17699
2006    17109
1998    16786
2007    14144
1997    13818
2008    11649
1996    10081
2017     9158
2009     9081
1995     8697
2016     8531
2010     5595
1994     4487
2011     3896
2018     3412
1993     3119
1992     2689
1991     2466
1990     2267
2012     1621
1989     1080
1988      781
1987      534
1986      393
2013      339
2014       51
2015       45
2019       17
Name: count, dtype: int64

In [25]:
clean_used_car["powerPS"].value_counts() ## here i found that there are power values that are less than 50 and that's not true

powerPS
0      32800
75     21165
60     13313
150    13265
101    12161
       ...
257        2
23         2
229        2
22         1
3          1
Name: count, Length: 266, dtype: int64

In [26]:
clean_used_car["kilometer"].value_counts()

kilometer
150000    229202
125000     34426
100000     13426
90000      10501
Name: count, dtype: int64

In [28]:
import pandas as pd 

def impute_power_below_threshold_with_mode(df, threshold=50):

    # Create a copy of the DataFrame to avoid modifying the original
    df_imputed = df.copy()

    # Calculate the mode of the powerPS column
    mode_powerPS = df_imputed['powerPS'].mode()[0]

    # If the mode is 0, select the second most frequent value instead
    if mode_powerPS == 0:
        mode_powerPS = df_imputed['powerPS'].value_counts().index[1]

    # Impute powerPS values below the threshold with the mode
    df_imputed.loc[df_imputed['powerPS'] < threshold, 'powerPS'] = mode_powerPS

    return df_imputed


clean_used_car_v2 = impute_power_below_threshold_with_mode(clean_used_car)
## I used this function to impute the values of the power that are less than 50 by using the mode function

In [29]:
clean_used_car_v2['powerPS'].value_counts() ## getting sure that the values are imputed

powerPS
75     58216
60     13313
150    13265
101    12161
90     10989
       ...
248        3
267        2
257        2
251        2
229        2
Name: count, Length: 220, dtype: int64

In [30]:
clean_used_car_v2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 287555 entries, 0 to 371526
Data columns (total 11 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   price               287555 non-null  int64
 1   abtest              287555 non-null  object
 2   vehicleType         287555 non-null  object
 3   yearOfRegistration  287555 non-null  int64
 4   gearbox             287555 non-null  object
 5   powerPS             287555 non-null  int64
 6   model               287555 non-null  object
 7   kilometer           287555 non-null  int64
 8   fuelType            287555 non-null  object
 9   brand               287555 non-null  object
 10  notRepairedDamage   287555 non-null  object
dtypes: int64(4), object(7)
memory usage: 26.3+ MB

In [79]:
del clean_used_car_v2['abtest'] # dropping the abtest columns as it's not important

In [80]:
from sklearn.preprocessing import LabelEncoder
#using the LabelEncoder function so i can pass the categorial data of the columns to the model
cat_cols = ["notRepairedDamage", "vehicleType", "gearbox", "model", "fuelType", "brand"] # Initialize a list of categorical column names

encoder = LabelEncoder() # Initialize a LabelEncoder object
encoded_user_car = clean_used_car_v2.copy() # Make a copy of the clean_user_car dataframe and assign it to encoded_user_car
encoded_user_car[cat_cols] = encoded_user_car[cat_cols].apply(encoder.fit_transform) # Apply the fit_transform method of the encoder object to the categorical columns of the encoded_user_car dataframe

In [81]:
from sklearn.preprocessing import StandardScaler
#identyfing the x(input) and y(target) of the models 
scaler = StandardScaler()
x = encoded_user_car.drop('price',axis=1)
y = encoded_user_car['price']

scaler.fit(x)
x = scaler.transform(x)

In [82]:
#splitting the data
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=0)

In [83]:
#scaling the feature vector
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
x_train = sc.fit_transform(x_train)
x_test = sc.transform(x_test)

## I USED TWO MODELS FIRST ONE IS THE LINEAR REGRESSION AND IT'S R2 SCORE IS 0.52 AND THE DECISION TREE AND IT'S SCORE IS 0.769

In [84]:
#fitting the data into linear regression model
from sklearn.linear_model import LinearRegression
lr = LinearRegression()
lr.fit(x_train, y_train)

LinearRegression()

In [85]:
#predicting the outputs of x_test
y_pred=lr.predict(x_test)

In [86]:
#checking the r2score of the lr model
from sklearn.metrics import r2_score
r2_score(y_test,y_pred)

0.5251297107068671

In [87]:
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import mean_squared_error
tree_regressor = DecisionTreeRegressor(random_state=42)

In [88]:
tree_regressor.fit(x_train, y_train)

DecisionTreeRegressor(random_state=42)

In [89]:
y_pred = tree_regressor.predict(x_test)

In [90]:
# Calculate R-squared (R2) score
r2 = r2_score(y_test, y_pred)
print("R-squared (R2) score:", r2)

R-squared (R2) score: 0.7699560629475328